@charset "utf-8";

html,body{
  margin:0;padding:0;
  height:0 !important;
  // overflow-y: hidden;
}
body::-webkit-scrollbar{display:none;}
ul,li,ol{list-style:none;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,figure,p{margin:0;}
img{vertical-align:top;}
a{text-decoration:none; cursor:pointer;}
$w:100%;
*{
  font-family: 'Wemakeprice-SemiBold';
  font-size: 18px;
  word-break: keep-all;
  box-sizing: border-box;
  outline: none;
  margin:0; padding:0;
  text-transform: uppercase;
}
html{scroll-behavior: smooth;}
